[user]
	name = Bob Evans
	email = robert.evans25@gmail.com

[credential]
	helper = osxkeychain

[core]
	excludesfile = /Users/bevans/.gitignore_global

#[hub]
#protocol = https

[hub]
protocol = https
[push]
	default = simple
  followTags = true

[alias]
  st = status
  dif = diff --staged
  last = log -1 HEAD
  unstage = reset HEAD --
  undo = reset --hard HEAD
  uncommit = reset HEAD~
  c = commit -m
  up = "pull --rebase --autostash"
